{% extends 'master2.html' %}
{% block mycontent %}

<div class="post">
    <h2 class="title"><a href="#">About </a></h2>
    
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
       <html>
        <body>
            <h3>Hello,</h3>
            <h4>Welcome to our website, we provide you each and every available knowledge about Cars!  </h4>

        </body>
       </html> 

        Choose the category and filter your search as needed,
        There are many types and ranges available to classify The Cars.

    </div>
</div>

{% endblock %}