<html>
    <body>
        <table border="1" width="100%">
            <tr>
                <td><h1>Kumud.com</h1></td>
            </tr>
            <tr>
                <td><a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </td>
            </tr>
            <tr>\
                <td>
                         {% block mycontent %}
                         {% endblock %}
                         {% block mycontent1 %}
                         {% endblock %}

                </td>
             </tr>

            <tr>
             <td>Website developed by Kumud</td>   
            </tr>



        </table>



    </body>


</html>